/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: rgb(43, 39, 39) no-repeat center/cover;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #2e55fa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

/* Navegación */
header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    color: white;
    font-size: 20px;
    padding: 20px;
    display: block;
    transition: all 0.3s ease;
}

header .navbar ul li a:hover,
header .navbar ul li a.active {
    background: rgb(43, 39, 39);
    font-size: 21px;
    padding: 21px;
}

/* Menú hamburguesa (responsive) */
#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: none;
}

/* Estilos responsive para pantallas más pequeñas */
@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #2e55fa;
        border-top: 1px solid rgb(43, 39, 39);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: white;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}

/* Main */
main {
    flex: 1;
    padding-top: 80px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Inicialmente, el contenido está oculto */
    transition: opacity 0.5s ease-in-out; /* Transición de opacidad */
}

main.loaded {
    opacity: 1; /* Cuando la página está cargada, el contenido es visible */
}

main .content {
    padding: 20px;
    max-width: 800px;
}

main .large-text {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
}

main .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

main .image-container img {
    max-width: 300px;
    margin: 0 10px;
}

/* Footer */
footer {
    background: #2e55fa;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-icons {
    margin-top: 10px;
}

footer .footer-icons a { /* Estilos Aplicados a los enlaces */
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .footer-icons a:hover { /* Estilos de hover para los enlaces */
    color: #ddd;
}

footer .footer-images {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .footer-images img {
    max-width: 50px;
    margin: 0 10px;
}

/* Courses Page (y Diplomaturas) */
.courses-page {
    padding-top: 80px;
    color: white;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.course-card {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.course-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.course-info {
    padding: 20px;
}

.course-info h3 {
    margin-bottom: 10px;
}

.course-info p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.course-button {
    background-color: rgb(44, 44, 160);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.course-button:hover {
    background-color: #2c2ca0;
}


/* Media Queries para Responsividad para courses-grid */
@media (max-width: 768px) {
    .courses-grid {
        grid-template-columns: 1fr;
    }
}

/* Contact Page */
.contact-page {
    flex: 1;
    padding-top: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 20px;
}

.contact-image {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.contact-image img {
    max-width: 100%;
    height: auto;
}

.contact-list {
    flex: 1;
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

/* Media Queries para Responsividad (Contacto) */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-image {
        margin-bottom: 20px;
    }
}

/* ... (resto del CSS) ... */

/* Estilos para la página de detalles del curso */
.course-details {
    flex: 1;
    padding-top: 80px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 20px;
}

.course-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.course-description {
    flex: 1;
    padding: 20px;
}

.course-description h1 {
    margin-bottom: 10px;
}

.course-description ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.course-description li {
    margin-bottom: 5px;
}

.enroll-button {
    background-color: rgb(44, 44, 160);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.enroll-button:hover {
    background-color: #2c2ca0;
}

.course-content {
    max-width: 800px;
    padding: 20px;
    text-align: left;
}

.course-content h2 {
    margin-bottom: 10px;
}

.course-content ul {
    list-style: none;
    padding: 0;
}

.course-content li {
    margin-bottom: 5px;
}

.instructor-info {
    max-width: 800px;
    padding: 20px;
    text-align: left;
}

.instructor-info h2 {
    margin-bottom: 10px;
}

.instructor {
    display: flex;
    align-items: center;
}

.instructor-details {
    padding: 20px;
}

.instructor-details h3 {
    margin-bottom: 5px;
}

/* Media Queries para Responsividad (Detalles del Curso) */
@media (max-width: 768px) {
    .course-info {
        flex-direction: column;
    }

    .course-description {
        padding: 10px;
    }

    .course-content {
        padding: 10px;
    }

    .instructor-info h2{
        padding: 10px;
        align-items: center;
    }
}

/* ... (resto del CSS) ... */

/* Estilos para las tarjetas */
.card {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

hr.red-line {
    border: none;
    height: 2px;
    background-color: red;
    margin: 20px 0;
}
